.button {
    width: 150px;
    height: 30px;
    margin-top: 4px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}